@import '../../../../../styles/media-query.scss';

$deActivateColor: rgba(255, 255, 255, .4);
$activateColor: #ffc800;

:host {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
  cursor: pointer;

  @include desktop() {
    width: 15%;
  }

  @include tablet() {
    width: 30%;
  }

  @include mobile() {
    width: 45%;
  }

  @include minimum-mobile() {
    width: 80%;
  }
}

.img-area {
  position: relative;
}

.duration {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: #fff;
  font-size: 12px;
  background: rgba(0, 0, 0, .4);
  border-radius: 4px;
  padding: 8px;
}

.collect {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  background: $deActivateColor;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

  &.active {
    background: $activateColor;
  }
}

img {
  width: 100%;
}

.info {
  padding: 15px;
  text-align: left;
}

// @mixin setCollectColor($color) {
//   color: $color;
//   border-bottom-color: $color;

//   &::before,
//   &::after {
//     border-bottom-color: $color;
//   }

//   &::after {
//     color: $color;
//   }
// }

// .collect {
//   margin: 50px 0;
//   position: relative;
//   display: block;
//   width: 0px;
//   height: 0px;
//   border-right: 100px solid transparent;
//   border-bottom: 70px solid;
//   border-left: 100px solid transparent;
//   transform: scale(0.1) rotate(35deg);
// }
// .collect:before {
//   border-bottom: 80px solid;
//   border-left: 30px solid transparent;
//   border-right: 30px solid transparent;
//   position: absolute;
//   height: 0;
//   width: 0;
//   top: -45px;
//   left: -65px;
//   display: block;
//   content: '';
//   transform: rotate(-35deg);
// }
// .collect:after {
//   position: absolute;
//   display: block;
//   top: 3px;
//   left: -105px;
//   width: 0px;
//   height: 0px;
//   border-right: 100px solid transparent;
//   border-bottom: 70px solid;
//   border-left: 100px solid transparent;
//   transform: rotate(-70deg);
//   content: '';
// }

// .collect:not(.active) {
//   @include setCollectColor($deActivateColor);
// }

// .collect.active {
//   @include setCollectColor($activateColor);
// }